:root {
  --color-body: black;
  --color-text: white;
  --color-contrastdarker: #370617; /*color5 agua gray light */
  --color-contrastdark: #66232C; /* color1 */
  --color-contrast: #CC3D3F; /* color2 contrast color - pink */
  --color-contrastlight: #E85D04; /* color4 beige aqua light */
  --color-contrastlighter: #F6A820; /*color6 beige */
  --color-contrastlightest: #F8F0CB;

  --color-contrast2darker: #023433;
  --color-contrast2dark: #35605D;
  --color-contrast2: #1A747D; /* color3 beige greenish light  */
  --color-contrast2light: #74864E;
  --color-contrast2lighter: #819CA6;

  --color-contrast3: #E85D04;

  --color-graywhite: #F0F0F0; /*color7 Blanco griseish */
  --color-graylighter: #BBB4B1; /*color8 Gris claro */
  --color-graylight: #A0A5A1;
  --color-graydark: #252726; /*color9 Gris oscuro  */
  --color-blacker: #202221; /*color10 negroish */
  /* Transparent colors */
  --color96: #b9b3acE6; /* beige 90% */
  --color56: #b9b3ac80; /* beige 50% //#898476 */
  --color99: #24272BFA; /* Gris oscuro transparent 98% */
  --color89: #24272BCC; /* Gris oscuro transparent 80% */
  --color19: #24272B1A; /* Gris oscuro transparent 10% */
  --color110: #07070A; /* negroish */
  --color-body20: #00000014; /* black 20% */
  --color-body30: #0000001E; /* black 30% */
  --color-body40: #000000E6; /* black 40% */
  --color-body80: #00000080; /* black 80% */
  --color-body98: #000000E6; /* black 98% */
  --color-text10: #FFFFFF0A; /* WHITE 10% */
  --color-text40: #FFFFFF40; /* WHITE 40% */
  --color-text80: #FFFFFF80; /* WHITE 80% */

  /* --color-contrastdarker: #370617; 
  --color-contrastdark: #6A040F; 
  --color-contrast: #DC2F02; 
  --color-contrastlight: #E85D04; 
  --color-contrastlighter: #F48C06; 
  --color-contrastlightest: #F8F0CB;

  --color-contrast2darker: #9D0208;
  --color-contrast2dark: #9D0208;
  --color-contrast2: #D00000; 
  --color-contrast2light: #F48C06;
  --color-contrast2lighter: #FAA307; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
