#section6-container {
    display: block;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5em;

    /* Color, Background & Text */
    border-radius: 0 0 50px 50px;
    box-shadow: var(--color-body80) 0px 54px 55px, var(--color-body40) 0px 0px 0px, var(--color-body40) 0px 4px 6px, var(--color-body30) 0px 12px 13px, var(--color-body20) 0px -3px 5px;
    background: var(--color-body);
}

.section6-info-container {
    /* Positioning */

    /* Display & Box Model | Sizing */
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    margin: auto;

    /* Color, Background & Text */

    /* Animations and Other */
}

.section6-info-desc-container {
    /* Positioning */

    /* Display & Box Model | Sizing */
    width: 50%;
    height: auto;
    text-align: right;
    margin-right: 3%;
    /* margin-right: 10%; */

    /* Color, Background & Text */

    /* Animations and Other */
}

.section6-info-desc-title {
    /* Positioning */

    /* Display & Box Model | Sizing */
    padding-bottom: 20px;
    margin: 0;

    /* Color, Background & Text */
    font-size: 3rem;
    font-family: verdana, Sans-serif;
    font-weight: 600;
    color: var(--color-contrast);

    /* Animations and Other */
}

.section6-info-desc-p {
    /* Positioning */

    /* Display & Box Model | Sizing */
    text-align: right;

    /* Color, Background & Text */
    font-family: serif, Times;
    font-size: 2rem;
    color: var(--color-text90);
    /* margin: 0; */

    /* Animations and Other */
}

.section6-info-img-container {
    width: 40%;
    height: 400px;
    position: relative;
    margin: 3%;

    /* background: #333 url(../imgs/white01.jpg) center;
    background-size: cover; */

    /* border-radius: 0 150px 0 150px; */
}
.section6-info-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
}
.section6-info-img1 {
    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translate(-10px, -10px);
    transition: transform 300ms ease;
    transform-origin: top;
}
.section6-info-img2 {
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translate(-30px, 5px);
    transition: transform 300ms ease;
}

.section6-info-img3 {
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translate(-15px, -10px);
    transition: transform 300ms ease;
}

.section6-info-img4 {
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translate(-32px, 5px);
    transition: transform 300ms ease;
    transform-origin: top;
}

/***---PHONE SCREENS---***/
@media screen and (max-width: 700px) {
    .section6-info-container {
        flex-direction: column;
        width: 90%;
        padding-bottom: 2rem;
    }
    .section6-info-desc-container {
        width: 90%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .section6-info-desc-title {
        font-size: 2rem;
    }
    .section6-info-desc-p {
        text-align: center;
        overflow-y: hidden;
        font-size: 1.1rem;
    }
    .section6-info-img-container {
        width: 100%;
        margin-left: 6%;
    }
}