#section8-container {
    display: block;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

    /* Color, Background & Text */
    border-radius: 50px 50px 0 0;
    box-shadow: var(--color-body80) 0px 54px 55px, var(--color-body40) 0px -12px 30px, var(--color-body40) 0px 4px 6px, var(--color-body30) 0px 12px 13px, var(--color-body20) 0px -3px 5px;
    background: var(--color-body);
}

.section8-info-img-container {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section8-info-img-container svg {
    border-radius: 10px;
    background: url(../imgs/pexels-anni-roenkae-2832432.jpg);
    background-size: cover;
    width: 50vmin;
    height: auto;
    display: block;
    margin: 30vmin auto;
}

.section8-info-img-container text {
    font-size: 18vmin;
    /* line-height: 100px; */
    font-weight: 900;
}

.section8-info-desc-container {
    width: 50%;
    padding-right: 10%;
    height: auto;
    text-align: left;
    margin-left: 3%;
}

.section8-info-desc-p {
    /* Positioning */

    /* Display & Box Model | Sizing */
    /* text-align: justify; */
    width: 100%;
    margin-top: 20%;
    text-align: justify;

    /* Color, Background & Text */
    font-size: 2rem;
    color: var(--color-text90);

    /* Animations and Other */
}

/***---PHONE SCREENS---***/
@media screen and (max-width: 700px) {
    #section8-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .section8-info-img-container {
        width: 100%;
        height: auto;
    }
    .section8-info-img-container svg{
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .section8-info-desc-p {
        text-align: center;
        overflow-y: hidden;
        font-size: 1.1rem;
    }
    .section8-info-desc-container {
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding-right: 0;
    }
}