#section3-container{
    /* Positioning */

    /* Display & Box Model | Sizing */
    display: block;
    min-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10vmax;
    padding-bottom: 15vmax;

    /* Color, Background & Text */
    background: linear-gradient(var(--color-body), transparent);

    /* Animations and Other */
}

.overcoming-img-wrapper {
    /* Positioning */

    /* Display & Box Model | Sizing */
    display: flex;
    width: 90%;
    /* height: 50vh; */
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Color, Background & Text */

    /* Animations and Other */
}

.overcoming-img-wrapper img{
    /* Positioning */

    /* Display & Box Model | Sizing */
    width: 400px;

    /* Color, Background & Text */

    /* Animations and Other */
}

.section3-centered-img {
    /* Positioning */
    z-index: 4;

    /* Display & Box Model | Sizing */
    height: 100%;
    width: 640px;
    object-fit: cover;
    border-radius: 64px;

    /* Color, Background & Text */

    /* Animations and Other */
}

.section3-info-container {
    /* Positioning */
    
    /* Display & Box Model | Sizing */
    display: flex;
    width: 100%;
    margin: auto;
    /* min-height: 80vh; */
    justify-content: center ;

    /* Color, Background & Text */

    /* Animations and Other */
}

#section3-info-desc-centered-container {
    /* Positioning */

    /* Display & Box Model | Sizing */
    text-align: center;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    max-width: 1000px;

    /* Color, Background & Text */

    /* Animations and Other */
}

.section3-info-desc-title {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 5px;
}

.section3-info-titlebar {
    /* Positioning */

    /* Display & Box Model | Sizing */
    display: flex;
    width: 80%;
    height: 3px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    /* Color, Background & Text */
    background: var(--color-contrastdarker)

    /* Animations and Other */
}


.section3-info-desc-p {
    /* Positioning */

    /* Display & Box Model | Sizing */
    text-align: center;
    height: auto;

    /* Color, Background & Text */
    color: var(--colo-text);
    /* line-height: 3rem; */

    /* Animations and Other */
}

.section3-info-textbar {
    /* Positioning */

    /* Display & Box Model | Sizing */
    display: flex;
    width: 15%;
    height: 3px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

    /* Color, Background & Text */
    background: var(--color-contrastdarker)
        /* Animations and Other */
}

@media screen and (max-width: 700px) {
    #section3-container {
        padding-top: 20vmax;
    }

    .overcoming-img-wrapper {
        height: 300px;
        padding-bottom: 0;
    }

    .section3-info-desc-p {
        overflow-y: hidden;
        font-size: 1.2rem;
    }

    .section3-info-container {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 10rem;
        height: auto;
    }
    .overcoming-img-wrapper img {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .section3-centered-img {
        width: 320px;
        height: 240px;
    }
}